<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .table-data{
 width:400px;
 height:150px;
 overflow:scroll;
}
  </style>
</head>
<body>
<div class="table-data">
  <table >
    <tr>
      <td>Sharqa</td><td>Adnan</td><td>Usama</td>
    </tr>
    <tr>
      <td>Hafsa</td> <td>Areej</td><td>Zara</td>
    </tr>
    <tr>
      <td>Farah</td> <td> Minhal</td><td>Zainab</td>
    </tr>
    <tr>
      <td>Maria</td><td>Anees</td><td>Faiza</td>
    </tr>
    <tr>
      <td> Umar</td><td>Taimoor</td><td>Awais</td>
    </tr>
    <tr>
      <td>Farhan</td> <td>Hammad</td><td>Aliyan</td>
    </tr>
    <tr>
      <td>Rafia</td><td>Haroon</td><td>Yumna</td>
    </tr>
    <tr>
      <td>Laiba</td><td>Hadia</td><td>Rafia</td>
    </tr>
    <tr>
      <td>Shahrukh</td><td>Talha</td><td>Danish</td>
    </tr>
    <tr>
      <td>Nadia</td><td>Mukh</td><td>Nimra</td>
    </tr>
  </table>
</div>
</body>
</html>